<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Ticketee
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul class='navbar'>
    <li><%= link_to "Home", root_path %></li>
    <% admins_only do %>
      <li><%= link_to "Admin", admin_root_path %></li>
    <% end %>

    <li class='login-info'>
      <% if user_signed_in? %>
        Signed in as <%= current_user %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Sign in", new_user_session_path %>
        Or use <%= auth_providers(:twitter, :github) %>
      <% end %>
    </li>
  </ul>
</nav>
<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
